<style>
    body {
        font-family: {{ font }};
        color: {{ body_color }};
    }

    .nav, .nav-item, .nav-link, footer, footer a {
        color: {{ font_color }};
    }

    footer {
        background-color: {{ accent_color }};
    }
</style>

<a name="#"></a>

    <header class="p-5 header">
        <nav class="row">
            <div class="col-4">
                <ul class="nav">
                    <li class="nav-item">
                    <a class="nav-link a-customizations a-hover-customizations" href="/landing/{{ userid }}">Shop</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link a-customizations a-hover-customizations" href="/store/{{ userid }}/{{ id }}#about">About</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link a-customizations a-hover-customizations" href="/contact/{{ userid }}/{{ id }}">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="col-4">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link pt-0 pb-0 storeFront a-customizations a-hover-customizations" href="/store/{{ userid }}/{{ id }}">{{ name }}</a>
                    </li>
                </ul>
            </div>

            <div class="col-4">
                <ul class="nav justify-content-end">
                    {{#if isSeller}}
                    <li class="nav-item">
                    <a class="nav-link active a-customizations a-hover-customizations" href="/storeEditor/{{ userid }}">Settings</a>
                    </li>
                    {{/if}}
                    {{#unless isSeller}}
                    <li class="nav-item">
                    <a class="nav-link active a-customizations a-hover-customizations" href="">Account</a>
                    </li>
                    {{/unless}}
                    <li class="nav-item">
                    <a class="nav-link a-customizations a-hover-customizations" href="/cart/{{ userid }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z"/>
                        </svg>
                    </a>
                    </li>
                </ul>
            </div>
        </nav>       
    </header>

    <div class="container">
        <h3>Contact Us</h3>
        <form>
            <div class="form-group">
                <label for="exampleInputPassword1">First Name</label>
                <input type="firstName" class="form-control" id="firstNameInput">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Last Name</label>
                <input type="lastName" class="form-control" id="lastNameInput">
            </div>  
            <div class="form-group">
              <label for="emailInput">Email address</label>
              <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Message</label>
                <textarea class="form-control" id="textAreaInput" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
          </form>
    </div>

    <footer class="page-footer footer-color footer-fixed font-small p-5">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-3">
                    <div class="mt-md-0 mt-3">
                        <h5 class="text-uppercase">{{ name }}</h5>
                        <p>{{ address }}</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mb-md-0 text-right">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#" class="a-customizations a-hover-customizations">Back to Top</a>
                            </li>
                            <li>
                                <a class="a-customizations a-hover-customizations" href="/contact/{{ userid }}/{{ id }}">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </footer>