 <style>
     body {
         font-family: {{ font }};
         color: {{ body_color }};
     }

    .nav, .nav-link, .nav-item, footer a {
        color: {{ font_color }};
    }

     img {
         width: 300;
         height: 400;
     }

     .button-color, footer {
         color: {{ font_color }};
         background-color: {{ accent }};
     }
 </style>
 
 <a name="#"></a>

    <header class="p-5 header">
        <nav class="row">
            <div class="col-4">
                <ul class="nav">
                    <li class="nav-item">
                    <a class="nav-link" href="/landing/{{ userid }}">Shop</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/store/{{ userid }}/{{ storeId }}#about">About</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/contact/{{ userid }}/{{ storeId }}">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="col-4">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link pt-0 pb-0 storeFront" href="/store/{{ userid }}/{{ storeId }}">{{ store }}</a>
                    </li>
                </ul>
            </div>

            <div class="col-4">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                    <a class="nav-link active" href="/">Login</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/cart/{{ userid }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z"/>
                        </svg>
                    </a>
                    </li>
                </ul>
            </div>
        </nav>       
    </header>

    <div class="container mt-5">
        <div class="row p-5">
            <div class="col-6">
            
                <img src="{{ image }}">
            
            </div>

            <div class="col-6">

                <div class="row">
                    <h3>{{ name }}</h3>
                </div>

                <div class="row">
                    <h6>{{ price }}</h6>
                </div>

                <div class="row">
                    <p>{{ description }}</p>
                </div>

                <div class="row pb-3">
                    <div class="input-group">
                        <input type="text" class="form-control" id="prod-quantity" placeholder="Quantity" aria-label="Recipient's username with two button addons">
                        <button class="btn btn-outline-secondary" id="add" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </button>
                        <button class="btn btn-outline-secondary" id="subtract" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </button>
                      </div>
                </div>

                <div class="row pt-3">
                    <button type="button" class="btn btn-lg border button-color" id="prod-cart" data-userid="{{ userid }}" data-productid="{{ productid }}">Add to Cart</button>
                </div>

            </div>
        </div>
    </div>

    <footer class="page-footer font-small p-5">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-3">
                    <div class="mt-md-0 mt-3">
                        <h5 class="text-uppercase">{{ store }}</h5>
                        <p>{{ address }}</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mb-md-0 text-right">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Back to Top</a>
                            </li>
                            <li>
                                <a href="/contact/{{ userid }}/{{ storeId }}">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </footer>