<style>
    body {
        font-family: {{ font }};
        color: {{ body_color }};
    }

    .nav, .nav-item, .nav-link {
        color: {{ font_color }};
    }

    img {
        width: 300px;
        height: 400px;
    }

    img:hover {
        cursor: pointer;
    }

    footer, .custom-color {
        background-color: {{ accent_color }};
        color: {{ footer_color }};
    }
</style>

<a name="#"></a>

    <header class="p-5 header">
        <nav class="row">
            <div class="col-4">
                <ul class="nav">
                    <li class="nav-item">
                    <a class="nav-link a-customizations a-hover-customizations" href="/landing/{{ userid }}">Shop</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link a-customizations a-hover-customizations" href="/store/{{ userid }}/{{ storeId }}#about">About</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link a-customizations a-hover-customizations" href="/contact/{{ userid }}/{{ storeId }}">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="col-4">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link pt-0 pb-0 storeFront a-customizations a-hover-customizations" href="/store/{{ userid }}/{{ storeId }}">{{ store }}</a>
                    </li>
                </ul>
            </div>

            <div class="col-4">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                    <a class="nav-link active a-customizations a-hover-customizations" href="/">Login</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link a-customizations a-hover-customizations" href="/cart/{{ userid }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z"/>
                        </svg>
                    </a>
                    </li>
                </ul>
            </div>
        </nav>       
    </header>

    <div class="container">

        <div class="row pt-5 pb-5 text-center justify-content-center">
            {{#each products}}
                {{>product/product-block}}
            {{/each}}
        </div>

    </div>

    <footer class="page-footer font-small p-5">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-3">
                    <div class="mt-md-0 mt-3">
                        <h5 class="text-uppercase">{{ store }}</h5>
                        <p>{{ address }}</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mb-md-0 text-right">
                        <ul class="list-unstyled">
                            <li>
                                <a class="a-customizations a-hover-customizations custom-color" href="#">Back to Top</a>
                            </li>
                            <li>
                                <a class="a-customizations a-hover-customizations custom-color" href="/contact/{{ userid }}/{{ storeId }}">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </footer>