<style>
    space {
        margin-bottom: 100px;
    }

    img {
        width: 75px;
        height: 75px;
    }
</style>

<a name="#"></a>

    <header class="p-5 header">
        <nav class="row">
            <div class="col-4">
                <ul class="nav">
                    <li class="nav-item">
                    <a class="nav-link a-customizations a-hover-customizations" href="/landing/{{ userid }}">Shop</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link a-customizations a-hover-customizations" href="/store/{{ userid }}/{{ storeid }}#about">About</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link a-customizations a-hover-customizations" href="/contact/{{ userid }}/{{ storeid }}">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="col-4">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link pt-0 pb-0 storeFront a-customizations a-hover-customizations" href="/store/{{ userid }}/{{ storeid }}" id="edit-store-id" data-storeid="{{ storeid }}">{{ name }}</a>
                    </li>
                </ul>
            </div>

            <div class="col-4">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                    <a class="nav-link a-customizations a-hover-customizations" href="">Settings</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link a-customizations a-hover-customizations" href="/cart/{{ userid }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z"/>
                        </svg>
                    </a>
                    </li>
                </ul>
            </div>
        </nav>       
    </header>

    <div class="container border rounded" id="space">
        <div class="row">
            <div class="col-4 p-0">
              <div class="list-group list-group-flush border-right rounded" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-store-list" data-toggle="list" href="#list-store" role="tab" aria-controls="store">Store Details</a>
                <a class="list-group-item list-group-item-action" id="list-font-list" data-toggle="list" href="#list-font" role="tab" aria-controls="font">Font</a>
                <a class="list-group-item list-group-item-action" id="list-colors-list" data-toggle="list" href="#list-colors" role="tab" aria-controls="colors">Colors</a>
                <a class="list-group-item list-group-item-action" id="list-background-list" data-toggle="list" href="#list-background" role="tab" aria-controls="background">Background Images</a>
                <a class="list-group-item list-group-item-action" id="list-products-list" data-toggle="list" href="#list-product-upload" role="tab" aria-controls="productUpload">Product Upload</a>
                <a class="list-group-item list-group-item-action" id="list-products-list" data-toggle="list" href="#list-products" role="tab" aria-controls="products">Products</a>
                <a class="list-group-item list-group-item-action border-bottom" id="list-delete-list" data-toggle="list" href="#list-delete" role="tab" aria-controls="products">Delete Store</a>
              </div>
            </div>
            <div class="col-8">
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-store" role="tabpanel" aria-labelledby="list-home-list">

                    <form class="col-12 p-4" id="store-details-form">
                        <div class="form-group">
                          <label for="exampleFormControlInput1">Store Name</label>
                          <input type="storeName" class="form-control" id="storeName" placeholder="Store Name" value="{{ name }}">
                        </div>
        
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Store Tagline</label>
                            <input type="storeDetails" class="form-control" id="storeTagline" placeholder="Store Tagline">
                        </div>
                        
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">About</label>
                            <textarea class="form-control" id="aboutDetails" placeholder="About Us" rows="3"></textarea>
                        </div>
        
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Store Address</label>
                            <input type="storeAddress" class="form-control" id="storeAddress" placeholder="Store Address">
                        </div>
                        
                        <div class="text-right">
                            <button type="submit" class="btn button-color">Update</button>
                        </div>

                        <div class="text-right updateStatus">
                            
                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="list-font" role="tabpanel" aria-labelledby="list-profile-list">
                    <form class="col-12 p-4" id="font-form">
                        <label for="exampleFormControlInput1">Font</label>
                        <div class="input-group mb-3">
                            <select class="custom-select" id="font-select">
                              <option selected>Choose...</option>
                              <option class="helvetica" value="helvetica neue">Helvetica Neue</option>
                              <option class="ibm" value="IBM Plex Sans">IBM Plex Sans</option>
                              <option class="julius" value="Julius Sans One">Julius Sans One</option>
                              <option class="lora" value="Lora">Lora</option>
                              <option class="bungee" value="Bungee">Bungee</option>
                              <option class="creepster" value="Creepster">Creepster</option>
                            </select>

                            <div class="input-group-append">
                                <label class="input-group-text" for="inputGroupSelect02">Options</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlInput1">Header Font Color</label>
                            <input type="color" class="form-control" id="headerFontColor" value="{{ header_font_color }}">
                        </div>
          
                        <div class="form-group">
                              <label for="exampleFormControlInput1">Body Font Color</label>
                              <input type="color" class="form-control" id="bodyFontColor" value="{{ body_font_color }}">
                        </div>
                          
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Footer Font Color</label>
                            <input type="color" class="form-control" id="footerFontColor" value="{{ footer_font_color }}">
                        </div>

                        <div class="text-right">
                            <button type="submit" class="btn button-color">Update</button>
                        </div>

                        <div class="text-right updateStatus">

                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="list-colors" role="tabpanel" aria-labelledby="list-messages-list">
                    <form class="col-12 p-4" id="color-form">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Store Color</label>
                            <input type="color" class="form-control" id="storeColor" value="{{ accent_color }}"">
                        </div>

                        <div class="text-right">
                            <button type="submit" class="btn button-color">Update</button>
                        </div>

                        <div class="text-right updateStatus">

                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="list-background" role="tabpanel" aria-labelledby="list-settings-list">
                    <form class="col-12 p-4" id="bg-image-form">
                        <label for="exampleFormControlInput1">Background Image</label>
                        <div class="input-group pb-3">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="bg-image" aria-describedby="inputGroupFileAddon04">
                              <label class="custom-file-label" for="bg-image" id="bg-edit-name">Choose file</label>
                            </div>
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary button-color" type="button" id="bg-image-upload">Upload</button>
                            </div>
                        </div>

                        <label for="exampleFormControlInput1">Scroll Behavior</label>
                        <div class="input-group mb-3">
                            <select class="custom-select" id="bg-scroll">
                              <option selected>Choose...</option>
                              <option value="scroll">Scroll</option>
                              <option value="fixed">Fixed</option>
                            </select>
                            <div class="input-group-append">
                                <label class="input-group-text" for="inputGroupSelect02">Options</label>
                            </div>
                        </div>

                        <label for="exampleFormControlInput1">About Image</label>
                        <div class="input-group mb-3">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="about-image" aria-describedby="inputGroupFileAddon04">
                              <label class="custom-file-label" for="about-image" id="about-edit-name">Choose file</label>
                            </div>
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary button-color" type="button" id="about-image-upload">Upload</button>
                            </div>
                        </div>

                        <label for="exampleFormControlInput1">Scroll Behavior</label>
                        <div class="input-group mb-3">
                            <select class="custom-select" id="about-scroll">
                              <option selected>Choose...</option>
                              <option value="scroll">Scroll</option>
                              <option value="fixed">Fixed</option>
                            </select>
                            <div class="input-group-append">
                                <label class="input-group-text" for="inputGroupSelect02">Options</label>
                            </div>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn button-color" id="scroll-submit">Update</button>
                        </div>

                        <div class="text-right updateStatus">

                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="list-product-upload" role="tabpanel" aria-labelledby="list-settings-list">
                    <form class="col-12 p-4" id="prod-form">    
                        <div class="form-group" id="product-form">
                            <label for="exampleFormControlInput1">Product Name</label>
                            <input type="text" class="form-control" id="productName" placeholder="Name">
                        </div>
        
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Price</label>
                            <input type="text" class="form-control" id="price" placeholder="$">
                        </div>
                        
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Inventory</label>
                            <input type="text" class="form-control" id="inventory" placeholder="#">
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Description</label>
                            <textarea class="form-control" id="productDescription" placeholder="Product description" rows="3"></textarea>
                        </div>

                        <label for="exampleFormControlInput1">Product Image</label>
                        <div class="input-group mb-3">
                            <div class="custom-file">
                            <input type="file" class="custom-file-input" id="prod-image-upload">
                            <label class="custom-file-label" for="prod-image-upload" aria-describedby="inputGroupFileAddon02" id="prod-image-file">Choose file</label>
                            </div>
                            {{!-- <div class="input-group-append">
                            <span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
                            </div> --}}
                        </div>

                        <div class="text-right">
                            <button type="submit" class="btn button-color">Update</button>
                        </div>

                        <div class="text-right updateStatus">

                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="list-products" role="tabpanel" aria-labelledby="list-settings-list">
                    <div class="col-12 p-4">
                        <div class="row align-items-center">
                            <div class="col-12">
                                <label>Product List</label>
                                <hr class="m-0 pb-4">
                            </div>
                        </div>
                            {{#if hasProducts}}
                                {{#each products}}
                                    {{> product/editor-block}}
                                {{/each}}
                            {{/if}}

                            {{#unless hasProducts}}
                                <div class="row align-items-center">
                                    <p class="col-12">No items on file for this store</p>
                                </div>
                            {{/unless}}
                        <div class="text-right updateStatus">

                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="list-delete" role="tabpanel" aria-labelledby="list-delete-list">
                    <form class="col-12 p-4">    
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Are you sure you want to delete your store?</label>
                        </div>
                        <div class="text-left">
                            <button type="submit" class="btn btn-danger delete-store" data-storeid="{{ storeid }}">Delete</button>
                        </div>
                        <div class="text-right updateStatus">
                        </div>
                    </form>
                </div>

              </div>
            </div>
          </div>
        </div>
    </div>

    <footer class="page-footer font-small p-5 footer-fixed footer-color">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-3">
                    <div class="mt-md-0 mt-3">
                        <h5 class="text-uppercase">Store Front</h5>
                        <p>123 Fictional Address</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mb-md-0 text-right">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#" class="a-customizations a-hover-customizations">Back to Top</a>
                            </li>
                            <li>
                                <a href="/contact/{{ userid }}/{{ storeid }}" class="a-customizations a-hover-customizations">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </footer>